/* reset.css */

* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Упрощает расчёт размеров элементов */
}

html {
  font-size: 100%; /* 1rem = 16px */
  line-height: 1.5; /* Удобочитаемость текста */
  scroll-behavior: smooth; /* Плавная прокрутка */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #333; /* Базовый цвет текста */
  background-color: #fff; /* Фон страницы */

  background: linear-gradient(
    135deg,
    #d7eef7,
    #eef6f8
  ); /* Мягкий розовато-бежевый градиент */
  background-attachment: fixed; /* Градиент остаётся на месте при прокрутке */
  min-height: 100vh; /* Чтобы градиент покрывал всю высоту экрана */
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block; /* Убирает лишние пробелы */
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* Использует цвет родителя */
}

button,
input,
textarea,
select {
  font: inherit; /* Использует шрифт, заданный для родителя */
  /* border: none; */
  background: none;
  padding: 0;
  /* outline: none; */
}

/* Container styles */
.container {
  width: 100%;
  max-width: 100%; /* По умолчанию занимает всю ширину */
  margin: 0 auto; /* Центрирование контейнера */
  padding: 0 1rem; /* Внутренние отступы для удобства */
}

.breed-image {
  border-radius: 30px;
}
.breed-name {
  margin-top: 5px;
  font-size: 36px;
  /* text-align: center; */
}

.breed-temperament {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  /* text-align: center; */
}

.breed-description {
  margin-top: 15px;
}

/* .loader-text {
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
} */
/* 
.error {
  margin-top: 100px;
  text-align: center;
  color: red;
  font-size: 24px;
  font-weight: 600;

  animation: scale 2s linear infinite, bounce 0.3s ease infinite;
} */

.breed-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

.select-wrapper {
  width: 400px;
  margin: 20px auto;
}

/* @keyframes scale {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
} */

.loader {
  margin: 40px auto;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: rgb(144, 144, 248);
  background: currentColor;
  border-radius: 50%;
  box-shadow: 25px 2px, 10px 22px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
/* Responsive container styles (mobile-first approach) */

/* Tablets (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px; /* Ограничение ширины для планшетов */
    display: flex;

    justify-content: space-between;
    width: 50%;
    gap: 30px;
  }
  .image-container {
    flex: 1; /* Элемент занимает равное пространство */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .breed-container {
    flex: 1; /* Элемент занимает равное пространство */
  }
}

.cat-info {
  padding: 30px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 22px 63px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 22px 63px 10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 22px 63px 10px rgba(34, 60, 80, 0.2);
}

/* Medium desktops (min-width: 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 960px; /* Ширина для стандартных десктопов */
  }
}

/* Large desktops (min-width: 1440px) */
@media (min-width: 1440px) {
  .container {
    max-width: 1200px; /* Расширяем контейнер для больших экранов */
  }
}

/* Extra large screens (min-width: 1920px) */
@media (min-width: 1920px) {
  .container {
    max-width: 1400px; /* Ещё больше расширяем для ультрашироких экранов */
  }
}
